.skills {
    background-color: rgb(243, 241, 241);
    padding: 20px;
    border-radius: 15px;
}

.cards-main {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Default to four columns */
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    padding: 30px 20px;
}

/* Adjust grid layout for smaller screens */
@media (max-width: 1200px) {
    .cards-main {
        grid-template-columns: repeat(3, 1fr); /* Three columns for medium screens */
    }
}

@media (max-width: 900px) {
    .cards-main {
        grid-template-columns: repeat(2, 1fr); /* Two columns for small screens */
    }
}
@media (max-width: 600px) {
    .cards-main {
        display: flex;
        flex-wrap: wrap; /* Allow items to wrap to the next line */
        gap: 10px; /* Space between the cards */
        width: 100%; /* Ensure full width */
        box-sizing: border-box; /* Include padding and border in width */
        padding: 0 10px; /* Optional: Add padding to prevent content from touching the edges */
    }

    .cards-main > * {
        flex: 1 1 calc(50% - 10px); /* Two items per row with gap consideration */
        box-sizing: border-box; /* Ensure child elements also respect box-sizing */
    }

    body, html {
        overflow-x: hidden; /* Prevent horizontal scrolling */
        margin: 0; /* Remove default margin */
        padding: 0; /* Remove default padding */
    }
}


.card {
    background-color: #fff;
    padding: 2rem;
    cursor: pointer;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    transform: scale(0.98);
}

.card:hover {
    transform: scale(1.02);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.img-card {
    height: 144px;
    width: 144px;
    border-radius: 10px;
}
